/*\
title: Demo/dragger.css
caption: Stylesheets
type: text/css
tags: Demo $:/tags/Stylesheet

This is a stylesheet which makes the drag-n-drop
pill for empty tiddlers on this site so pretty.

\*/

@charset "UTF-8";

/* Most of this comes from: https://www.bestcssbuttongenerator.com/ */
a.uglify-dragger {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:20px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

/* Since this pill isn't ment to be clicked, we don't want it
   to respond to mouse-overs. */
a.uglify-dragger:hover {
	text-decoration: none;
}

/* But when it's clicked and HELD, we do want to offset a little. */
a.uglify-dragger:active {
	position:relative;
	top:1px;
}
