/*\
tags: $:/tags/Stylesheet
title: Stylesheet.css
type: text/css

\*/

a.uglify-dragger {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:20px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

a.uglify-dragger:hover {
	text-decoration: none;
}

a.uglify-dragger:active {
	position:relative;
	top:1px;
}

.uglify-empty {
	width: 250px;
	padding: 10px;
	border-radius: 5px;
	background: #1462ff;
	border-radius: 5px;
	border: none;
	box-shadow: 0 2px 2px 0 #4a74c9;
	overflow: hidden;
	cursor: pointer;
	font-size: 1.2em;
	line-height: 1.4em;
	color: #fff;
	fill: #fff;
}

.uglify-demo-before {
	float: left;
	width: 49%;
	border: 1px solid #cccccc;
	margin: 0px;
}

.uglify-demo-after {
	float: right;
	width: 49%;
	border: 1px solid #cccccc;
	margin: 0px;
}

.uglify-demo-before > pre, .uglify-demo-after > pre {
	padding: 6px;
	margin: 0px;
	border: none;
}

.uglify-demo-description {
	clear: both;
	padding-top: 5px;
}
